section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.card_search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #D3964E;
    height: 500px;
    width: fit-content;
    border-radius: 20px;
    padding: 30px;
    box-shadow: #000 5px 5px 30px;
}

#title_search_card{
    padding-bottom: 20px;
}

#img_personas_buscando{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    box-shadow: #523a1f 5px 5px 30px;
}

.paragraph_card{
    text-align: center;
    padding: 20px 0px;
    font-size: 20px;
}

#buscador{
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 90%;
}

.btn_card{
    display: inline-block;
    width: 120px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #5e5e5e;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 10px #3d3d3d;
}

.btn_card:hover {background-color: #202020; color: aliceblue;}

.btn_card:active {transform: translateY(4px);}


