<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>KevinApp</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
	<section>
            <div class="card_search">
                <h1 id="title_search_card">KevinApp</h1>
                <img src="/imgs/personas_buscando.jpg" alt="gente_buscando" width="300px" id="img_personas_buscando">
                <p class="paragraph_card">Colocar link o archivo<br>para analizar</p>
                <form th:action="@{/buscar}">
                <input type="text" name="enlace" id="enlace" placeholder="Buscar...">
                <br>
                <button class="btn_card"> Analizar </button>
                </form>
            </div>
        </section>
</body>
</html>