<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>KevinApp</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
		<section>
            <div class="card_search">
                <h1 id="title_search_card">KevinApp</h1>
                <img src="/imgs/signopreg.png" alt="gente_buscando" width="300px" id="img_personas_buscando">
                <p class="paragraph_card">El enlace no se<br>encuentra en la BD</p>

                <br>
                <a href="/"><button class="btn_card"> Volver </button></a>
                <a th:href="@{/denuncia/__${denun}__}"><button class="btn_card"> Denunciar </button></a>
            </div>
        </section>
</body>
</html>